body { 
    padding-top: 82px;
    background-color: #d0dde6;
}

.search-form {
 margin: 0.9% 0px 0.9% 0px; 
 padding: 0px 0px 0px 0px;
 background: rgba(255,255,255,.13);
}

h2.userRating {
    margin: 0px 0px 0px 0px;
}

h5 {
    font-size: 20px;
}

.btn-group.trailers {
    margin: 0px 0px 0px 0px;
}

@media (max-width: 767px) {
    .navbar-collapse:after {
        clear:both;
    }
}
@media (min-width: 768px) {
    .navbar-collapse:after {
        clear:none;
    }
}


.search-input {
    text-indent: 8px;
    color: white; 
    background: rgba(255,255,255,.00) !important;
    margin-bottom: 0px !important;
}

.form-control.search-input:focus {
  border-color: #d0dde6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 15px rgba(208, 221, 230, 0.8);
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 3px solid #abb5bd;
    background-color: #bcc7cf;
    padding-bottom: 20px;
    color: #9ca6ad;
}
footer a {
    color: #9ca6ad;
}
footer a:hover {
   color: #09314b;
}

.poster {
    margin:8px;
    width:190px; 
    height:274px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posterWithRating {
    position: relative;
}

.overlay { 
   position: absolute; 
   top: -128px;
   width: auto;
   right: 0;
   margin-right: 11px;
   text-align: right;
   padding: 8px;
   color: white; 
   background: rgb(0, 0, 0); /* fallback color */
   background: #455a64;
   -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 0px) and (max-width: 768px) {
    .poster {
        margin: 0px;
    }
    .overlay {
        margin-right: 3px;
    }
}

.navbar-default {
    background-color: #09314b !important;
}

.panel-primary>.panel-heading {
    background-color: #09314b !important;
}

.panel-body#imdbRating, .panel-body#avgUserRating  {
    padding: 0px;
}

.btn-primary.btn-raised {
    background-color: #09314b !important;
}

.btn-primary#createUser {
    color: #09314b !important;
}

.btn img {
    float: left;
    margin-left: -20px;
    margin-right: 8px;
}