<h1>About</h1>
<p>CineR8 (Pronounced Cine [like in Cinema]-Rate) is an easy-to-use and very cleanly designed movie rating web application. 
The design tries to follow Google's Material Design guidelines as best as possible, which makes it look as clean as it does. 
There are no advertisements or obnoxious elements that hamper the user experience for what should be a simple web application.</p>

<h3>Goal</h3>
<p>The goal is simplicity. This service was created for the purpose of being an option for keeping track of your movie ratings without making it difficult or complicated.
You want to say and see what you thought about a movie, and nothing else. That is understood and there are as little obstacles in your way as possible.
</p>

<h3>User Privacy</h3>
<p>The only thing collected from users is their email address. This allows them to make a unique account to store their ratings.
User Authentication and storage is handled by Firebase. This website uses SSL certificates and Firebase to stay secure.
Email addresses are not shared with any third-parties and are only used for signing in. Emails are not visible to anybody else on the site.
To read the full Privacy Policy, please {{#link-to "privacy-policy"}}click here.{{/link-to}}
</p>

<h3>Open-Source</h3>
<p>This website is completely open-source. This means that anybody can view and contribute to the website to add new features or fix issues. 
The source can be viewed on the <a href="//github.com/jaxonwright/ciner8">GitHub repository.</a> Anybody can use this code or any piece of the code since 
this project is licensed under MIT, allowing you to basically do whatever you want. 
However, what would be more beneficial is you can make improvements directly to this project by submitting a pull request.</p>

<h3>Completely Free</h3>
<p>In order to provide the cleanest user experience, CieR8 does not contain any advertisements or require any sort of payment to use. 
However, should you feel so inclined to {{#link-to "donate"}}donate{{/link-to}} any amount of money as a kudos for this service, feel free to.</p>