<!--NAV BAR-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index'}}<a class="navbar-brand" style="margin: 8px 8px -8px 0px; padding: 0px 0px 0px 0px;"><img src="/images/logoLight.png" height="70%"/></a>{{/link-to}}
        </div>
        <div id="navbar" class="collapse navbar-collapse">
                <form role="search">
                    <div class="form-group form-group-md float-lg-middle col-lg-6 col-md-6 col-sm-5 search-form">
                        <input type="text" class="form-control col-md-12 search-input" placeholder="Search" name="search" id="search">
                    </div>
                </form>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 80px;">
                {{#if session.isAuthenticated}}
                    {{#link-to 'user' tagName="li" class="float-lg-right"}}
                        <a id="usernameNav">{{model.username}}</a>
                    {{/link-to}}
                    <li class="float-lg-right"  {{action "signOut"}}>
                        <a class="dropdown-toggle">Log Out</a>
                    </li>
                {{else}}
                    {{#link-to 'login' tagName="li" class="float-lg-right"}}
                        <a class="dropdown-toggle">Log In</a>
                    {{/link-to}}
                {{/if}}
            </ul>
        </div>
    </div>
</div>
<!--END NAV BAR-->
<div class="container" id="body">
    {{outlet}}
</div>
<footer>
    <div class="container">
        <div class="row text-center">
           &copy; 2017 CineR8 
           &bullet; 
           {{#link-to 'index'}}About{{/link-to}}
           &bullet;
           {{#link-to 'index'}}Privacy Policy{{/link-to}}
           &bullet;
           <a href="https://themoviedb.org"><img class="footer" src="/images/poweredBy.png" height="50px"/></a>
           &bullet;
           {{#link-to 'index'}}Donate{{/link-to}} 
           &bullet;
           <a href="mailto:jaxonhwright@gmail.com">Contact</a> 
           &bullet;
           <a href="https://github.com/JaxonWright/movie-rater-ember/">Source</a>
           &bullet;
           <a href="https://github.com/JaxonWright/movie-rater-ember/issues">Report Issues</a>
        </div>
    </div>
</footer>
