<h1>Donate</h1>
<p>CineR8 is provided for free and without advertisements. Despite this, you can still donate any dollar amount to show your appreication of the service if you wish to.
The button below will bring you to a PayPal donation page to the creator of this service, Jaxon Wright. Please indicate that your donation is for CineR8.
Thanks in advance!
</p>
<a href="//paypal.me/JaxonWright" class="btn btn-primary btn-raised"><img src="images/paypalP.png" width="20"/> Donate with PayPal</a>
