{{!-- 
  Add content you wish automatically added to the documents head
  here. The 'model' available in this template can be populated by
  setting values on the 'head-data' service. 
--}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{model.title}}</title>
<link rel="shortcut icon" href="https://ciner8.com/images/favicon.ico" type="image/png" />
<meta property="og:image" content="https://ciner8.com/images/graph.png">
<meta itemprop="name" content="CineR8.com">
<meta name="description" content="A simple movie rating service for you to keep track of what you like.">
<meta name="keywords" content="movie rating, rate movies, movies, movie">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#09314b">