<h2>Login</h2>

<div class="well col-md-6">
    <div id="usernameInput" class="form-group label-floating">
        <label class="control-label" for="username">Email</label>
        <input class="form-control form-control-danger" id="email" type="text">
        <span id="help" class="help-block hidden">Sorry, that username's taken. Try another?</span>
    </div>

    <div id="passwordInput" class="form-group label-floating">
        <label class="control-label" for="password">Password</label>
        <input class="form-control" id="password" type="password"/>
        <span id="helpPass" class="help-block hidden">Incorrect username and/or password</span>
    </div>

    {{#link-to 'signup'}}<button class="btn btn-primary">Sign Up</button>{{/link-to}}
    <button {{action 'loginWithEmail'}} class="btn btn-primary btn-raised">Login</button>
    &nbsp;or&nbsp;     
    <button {{action 'loginWithGoogle'}} class="btn btn-secondary btn-raised">
        <img src="images/googleG.png" width="20"/>
        Login With Google
    </button>
</div>