<div class="row">
    <div class="col-md-3 col-sm-4"><img id="poster" class="poster" alt="poster" src="/images/unknownPoster.png" width="190px" height="274px">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-5"><h3 id="title">Unknown Movie ID</h3>
        <p id="description">Please double-check the ID you entered. We cannot find this movie in the database.</p>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
       <div class="panel panel-default">
          <div class="panel-heading">
             <h3 class="panel-title">IMDb Rating</h3>
           </div>
           <div class="panel-body" id="imdbRating"><center><h2><strong>0</strong>/10</h2></center></div>
       </div>
       <div id="avgUserRating" class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Avg User Rating</h3>
          </div>
          <div class="panel-body" id="avgUserRating">
            <center><h2 id="avg"><strong>0</strong>/5</h2></center>
          </div>
       </div>
       <div id="userRating" class="panel panel-primary hidden">
          <div class="panel-heading">
            <h3 class="panel-title">Your Rating</h3>
          </div>
          <div class="panel-body" id="userRating">
            <div id="rateYo" class="jq-ry-container" style="width: 125px;"></div>
          </div>
       </div>
    </div>
</div>